.footer_wrap {
   width: 100%;
   /* margin: 0 auto; */
   height: auto;
   color: rgb(255,255,255);
   font-family: "genesis-text", sans-serif;
   margin: 300px auto 0 ;
}


/* footer top */

/* footer_share */
.footer_share {
   width: 100%;
   height: 60px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: rgb(17,17,17);
   padding: 0 140px;
}

.footer_share_ul {
   width: 179px;
   height: 30px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.footer_share_ul span {
   font-size: 14px;
   line-height: 30px;
   font-weight: 400;
}

/* .footer_share_link:hover {
   : rgb(173, 123, 97);
} */

.footer_share_link svg {
   width: 30px;
   height: 30px;
   vertical-align: middle;
   margin: 0 7px;
}

.footer_share_link img {
   width: 16px;
   height: 16px;
   margin: 7px;
   vertical-align: middle;
}

.footer_btn_top {
   height:16px;
   border: none;
   background: none;
   font-size: 14px;
   line-height: 16px;
   color: rgb(255,255,255);
}

.footer_btn_top img {
   width: 11px;
   height: 7px;
   margin: 0 0 0 7px;
   vertical-align: middle;
}

/* footer notice */
.footer_notice {
   width: 100%;
   height: 79px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: rgb(17,17,17);
   border-top: 1px solid rgb(30, 30, 30);
   padding: 31px 140px;
}

.footer_notice_title {
   display: flex;
   font-size: 14px;
   line-height: 15.75px;
}

.footer_notice_title span {
   margin: 0 4px 0 0;
}

.footer_notice_btn {
   width: 84px;
   height: 80px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.footer_notice_btn a:nth-child(1) img {
   width: 27px;
   height: 11px;
   padding: 0 10px 0 0;
}

.footer_notice_btn a:nth-child(2) img {
   width: 31px;
   height: 11px;
   padding: 0 10px;
}

.footer_notice_btn a:nth-child(3) img {
   width: 27px;
   height: 11px;
   transform: rotate(180deg);
   padding: 0 10px 0 0;
}

/* footer_top_menu */
.footer_top_menu {
   width: 100%;
   padding: 55px 140px 96px;
   display: flex;
   flex-wrap: wrap;
   background-color: rgb(21, 21, 21);
}

.footer_top_menu_ul {
   padding: 40px 41px 0 0;
   width: 25%;
}

.footer_top_menu_ul p {
   font-size: 16px;
   line-height: 19.2px;
   font-weight: 400;
   margin: 0 0 1px 0 ;
   color: rgb(255, 255, 255);
}

.footer_top_menu_ul li a {
   font-size: 14px;
   line-height: 22.4px;
   color: rgb(204,204,204);
}

.footer_top_menu_ul li {
   margin: 14px 0 0;
}

.footer_top_menu_ul li a:hover {
   color: rgb(184,152,135);
}

.footer_top_menu_ul:nth-child(7) p:hover {
   color: rgb(184,152,135);
}

/* footer_bottom */
.footer_bottom {
   width: 100%;
   padding: 0 140px;
   margin: auto;
}

.footer_bottom_menu {
   width: 100%;
   height: 90px;
   padding: 24px 0;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.footer_bottom_menu_ul {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.footer_bottom_menu_ul li {
   margin: 0 48px 0 0;
}

.footer_bottom_menu_ul li a{
   font-size: 12px;
   line-height: 12px;
   color: rgb(204, 204, 204);
}

.footer_bottom_menu_ul li:nth-child(3) a{
   color: rgb(173,123,97);
}


.footer_sns {
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 150px;
   height: 42px;
   margin: 0 10px;
}

.footer_sns svg {
   width: 42px;
   height: 42px;
}

/* footer_related */
.footer_related {
   width: 100%;
   height: 100px;
   padding: 32px 0 31px;
   border-top: 1px solid rgb(30, 30, 30); 
   display: flex;
   justify-content: space-between;
   align-items: flex-start;
}

.footer_related_link {
   height: 36px;
   padding: 10px 0;
   display: flex;
}

.footer_related_link li {
   margin: 0 45px 0 0;
}

.footer_related_link img {
   width: 14px;
   height: 15px;
   vertical-align: middle;
   margin: 0 8px 0 0;
}

.footer_related_link span {
   font-size: 14px;
   line-height: 36px;
   color: rgb(244,237,233);
}

.footer_language {
   width: 160px;
   height: 36px;
   display: flex;
}

.footer_language a:first-child {
   display: block;
   width: 50%;
   height: 100%;
   font-size: 14px;
   line-height: 36px;
   color: rgb(255, 255, 255);
   background-color: rgb(30, 30, 30);
   text-align: center;
} 

.footer_language a:last-child {
   display: block;
   width: 50%;
   height: 100%;
   font-size: 14px;
   line-height: 36px;
   color: rgb(255, 255, 255);
   background-color: rgb(173, 123, 97);
   text-align: center;
} 

/* footer_copyright */
.footer_copyright {
   width: 100%;
   height: 212px;
   padding: 55px 0 51px;
   text-align: center;
   border-top: 1px solid rgb(30, 30, 30); 
}

.footer_copyright img {
   width: 133px;
}

.footer_copyright p {
   margin: 26px 0 0 0;
   color: rgb(204, 204, 204);
   font-size: 14px;
   line-height: 21.994px;
}